{% extends 'base/materialize_base.html' %}

{% block content %}

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue darken-1">
            <div class="container">
                <a href="{% url 'index' %}" class="brand-logo">E-Migrant</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="{% url 'travel_doc_tracker:document-expiry-tracker-page' %}">Travel documents</a></li>
                    <li><a href="{% url 'residence_permit_tracker:residence-permit-process-history-page' %}">Residence card</a></li>
                    <li><a href="{% url 'border_crossing_tracker:border-crossing-history-page' %}">Borders tracking</a></li>
                    <li><a href="{% url 'index' %}" class="waves-effect waves-light blue btn">Sign in</a></li>
                    <li><a href="{% url 'index' %}" class="waves-effect waves-light btn">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Content goes here-->
<div class="grey lighten-3">
    <div class="container" style="min-height:70vh;">
        {% block page_body_content %}
        {% endblock %}
    </div>
</div>

<!-- END page body -->
<!-- Footer -->

<footer class="page-footer blue darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
                    content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>


{% endblock %}
{% block extra_javascripts %}
<script>
$(document).ready(function(){
    $('.sidenav').sidenav();
});
</script>
{% endblock %}