{% extends 'base/page.html' %}
{% block page_body_content %}

<div class="row">
    <div class="col s12 m12">
        <div class="card-panel white">
            <h5 class="black-text">Residence permit issuing process tracking</h5>
            <h6 class="black-text">Here You can fill in all the details of issuing process, so we will remind You about
                issuing date. In case of negative answer You will have full process history.</h6>
        </div>
    </div>
</div>

<div id="card-list">
</div>
{% endblock %}

{% block extra_javascripts %}
{{ block.super }}
<script>
$(document).ready(function(){
    {% for permit in permits %}
        $.ajax({url: "{% url 'residence_permit_tracker:single-residence-permit-process-form-widget' pk=permit.pk %}",
            success: function(result){
                $("#card-list").html(result);
        }});
    {% endfor %}
});
</script>
<script>
function submitResidenceForm(formNumber, csrfToken) {
    $.ajax({
        headers: { "X-CSRFToken": csrfToken },
        type: "POST",
        url: $("#permit-process-form-" + formNumber).attr("action"),
        dataType: "html",
        data: $("#permit-process-form-" + formNumber).serialize(),
    })
    .done(function(data){
        $("#document" + formNumber).html(data);
    })
};
</script>
<script>
    $(document).on('click', '[id^="submit-form-"]', function() {
        submitResidenceForm(this.id.slice(-1), $(this).parents("form").find('input[name="csrfmiddlewaretoken"]').val())
    });
</script>
{% endblock %}