{% extends 'base/page.html' %}
{% load widget_tweaks %}

{% block page_body_content %}
<div class="row">
    <div class="col s12 m12">
        <div class="card-panel white">
            <h5 class="black-text">Residence permit issuing process tracking</h5>
            <h6 class="black-text">Here You can fill in all the details of issuing process, so we will remind You about
                issuing date. In case of negative answer You will have full process history.</h6>
        </div>
    </div>
</div>
<div id="card-list">
    <form method="post" id="permit-process-history-record-create"
          action="{% url 'residence_permit_tracker:residence-permit-process-history-record-create-form-page'%}">
        {% csrf_token %}
        <div class="card-panel white">
            <div class="row">
            <div class="col s12 offset-m1">
                <h5 class="black-text">History record create</h5>
            </div>
        </div>
            <div class="row">
                <div class="col s12">
                    {{ form.residence_permit_process }}
                    <div class="input-field col s12 m3">
                        {% if form.date.errors %}
                        <label class="active red-text">{{ form.date.errors.0 }}</label>
                        {% render_field form.date class="datepicker invalid" %}
                        {% else%}
                        <label class="{% if form.date.value %}active{% endif %}">{{ form.date.label
                            }}</label>
                        {% render_field form.date class="datepicker" %}
                        {% endif %}
                    </div>
                    <div class="input-field col s12 m3">
                        {% if form.activity_type.errors %}
                        <label class="active red-text">{{ form.activity_type.errors }}</label>
                        {{ form.activity_type }}
                        {% else%}
                        <label class="active">{{ form.activity_type.label }}</label>
                        {{ form.activity_type }}
                        {% endif %}
                    </div>
                    <div class="input-field col s12 m6">
                        {% if form.details.errors %}
                        <label class="active red-text">{{ form.details.errors }}</label>
                        {{ form.details }}
                        {% else%}
                        <label class="active">{{ form.details.label }}</label>
                        {{ form.details }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="col s12">
                        <button class="waves-effect waves-light btn blue darken-1 right" type="submit"><i
                                class="material-icons left">save</i><strong>Save</strong><</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_javascripts %}
{{ block.super }}
<script>
    $('select').formSelect();
    $('.datepicker').datepicker({
  format: "yyyy-mm-dd"
});
</script>
{% endblock %}
