{% load widget_tweaks %}
<div class="row">
    <div class="col s12 m12">
        <div class="card-panel white">
            <div class="row">
                <div class="col s12">
                    <h5 class="black-text">Residence permit 1</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <form method="post" id="permit-process-form-{{ permit_number }}"
                          action="{% url 'residence_permit_tracker_app:single-residence-permit-process-form-widget' pk=permit_number %}">
                        {% csrf_token %}
                        <div class="input-field col s12 m3">
                            {% if form.permit_type.errors %}
                            <label class="active red-text">{{ form.permit_type.errors }}</label>
                            {% else%}
                            <label class="active">{{ form.permit_type.label }}</label>
                            {% endif %}
                            {{ form.permit_type }}
                        </div>
                        <div class="input-field col s12 m3">
                            {% if form.status.errors %}
                            <label class="active red-text">{{ form.status.errors }}</label>
                            {% else%}
                            <label class="active">{{ form.status.label }}</label>
                            {% endif %}
                            {{ form.status }}
                        </div>
                        <div class="input-field col s12 m3">
                            {% if form.estimated_issue_date.errors %}
                            <label class="active red-text">{{ form.estimated_issue_date.errors.0 }}</label>
                            {% render_field form.estimated_issue_date class="datepicker invalid" %}
                            {% else%}
                            <label class="{% if form.estimated_issue_date.value %}active{% endif %}">{{
                                form.estimated_issue_date.label }}</label>
                            {% render_field form.estimated_issue_date class="datepicker" %}
                            {% endif %}
                        </div>
                        <div class="input-field col s12 m3">
                            <a class="waves-effect waves-light btn blue darken-1"
                               id="submit-form-{{ permit_number }}"><i
                                    class="material-icons left">save</i><strong>Save</strong></a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <table class="highlight responsive-table">
                        <thead>
                        <tr>
                            <th style="width: 25%">Date</th>
                            <th style="width: 40%">Action</th>
                            <th style="width: 35%">Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for status in statuses %}
                        <tr>

                            <td style="width: 25%">{{ status.date }}</td>
                            <td style="width: 40%">{{ status.activity_type }}</td>
                            <td style="width: 35%">
                                <form method="post" id="permit-process-record-remove-{{ permit_number }}"
                                      action="{% url 'residence_permit_tracker_app:residence-permit-process-history-record-delete' pk=status.pk %}">
                                    {% csrf_token %}
                                    {{ status.details }}
                                    <button id="delete-record-{{ status.pk }}"
                                            style="background:none!important;
                                                   border:none;
                                                   padding:0!important;
                                                   cursor: pointer;"
                                            type="submit"
                                            class="right col m2"><i class="material-icons blue-text">delete</i></button>
                                    <a href="{% url 'residence_permit_tracker:residence-permit-process-history-record-update-form-page' pk=status.pk  %}"><i
                                            class="material-icons right col m1">edit</i></a>
                                </form>

                            </td>

                        </tr>
                        {% empty %}
                        <tr>
                            <td style="width: 25%">None</td>
                            <td style="width: 40%">None</td>
                            <td style="width: 35%">None</td>
                            >
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="col s12">
                        <a href="{% url 'residence_permit_tracker:residence-permit-process-history-record-create-form-page' %}"
                           class="waves-effect waves-light btn blue darken-1 right"><i
                                class="material-icons left">add</i><strong>Add new record</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('select').formSelect();
    $('.datepicker').datepicker({
  format: "yyyy-mm-dd"
});








</script>