{% extends 'base/page.html' %}
{% block page_body_content %}

<div class="row">
    <div class="col s12 m12">
        <div class="card-panel white">
            <h5 class="black-text">Travel documents registry</h5>
            <h6 class="black-text">Here You can fill in all Your travel documents with their types and expiry dates, so
                we can remind You about renewal.</h6>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m4">
        <div class="card-panel white">
            <div class="row">
                <div class="col s12">
                    <h5 class="black-text">Document 1</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Materialize Select</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}