{% extends 'base/page.html' %}
{% block page_body_content %}

<div class="row">
    <div class="col s12 m12">
        <div class="card-panel white">
            <h5 class="black-text">Travel documents registry</h5>
            <h6 class="black-text">Here You can fill in all Your travel documents with their types and expiry dates, so
                we can remind You about renewal.</h6>
        </div>
    </div>
</div>

<div class="row">
    <div id="document1" class="col s12 m4">
    </div>
    <div id="document2" class="col s12 m4">
    </div>
    <div id="document3" class="col s12 m4">
    </div>

</div>

{% endblock %}
{% block extra_javascripts %}
{{ block.super }}
<script>
$(document).ready(function(){
    $.ajax({url: "{% url 'travel_doc_tracker:single-document-update-form' pk=1 %}", success: function(result){
        $("#document1").html(result);
    }});
    $.ajax({url: "{% url 'travel_doc_tracker:single-document-update-form' pk=2 %}", success: function(result){
        $("#document2").html(result);
    }});
    $.ajax({url: "{% url 'travel_doc_tracker:single-document-update-form' pk=3 %}", success: function(result){
        $("#document3").html(result);
    }});
});
</script>
<script>
function submitForm(formNumber, csrfToken) {
    $.ajax({
        headers: { "X-CSRFToken": csrfToken },
        type: "POST",
        url: $("#travel-document-form-" + formNumber).attr("action"),
        dataType: "html",
        data: $("#travel-document-form-" + formNumber).serialize(),
    })
    .done(function(data){
        $("#document" + formNumber).html(data);
    })
};
</script>
<script>
    $(document).on('click', '[id^="submit-form-"]', function() {
        submitForm(this.id.slice(-1), $(this).parents("form").find('input[name="csrfmiddlewaretoken"]').val())
    });
</script>
<script>
    $(document).on('click', '[id^="clear-fields-"]', function() {
        $(this).parents("form").find('input:text').val('');
    });
</script>
{% endblock %}