{% load widget_tweaks %}
<form method="post" id="travel-document-form-{{ doc_number }}"
      action="{% url 'travel_doc_tracker:single-document-update-form' pk=doc_number %}">
    {% csrf_token %}
    <div class="card-panel white">
        <div class="row">
            <div class="col s12 offset-m1">
                <h5 class="black-text">Document {{ doc_number }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field col s12">
                    {% if form.doc_type.errors %}
                    <label class="active red-text">{{ form.doc_type.errors }}</label>
                    {{ form.doc_type }}
                    {% else%}
                    <label class="active">{{ form.doc_type.label }}</label>
                    {{ form.doc_type }}
                    {% endif %}
                </div>
                <div class="input-field col s12">
                    {% if form.issue_date.errors %}
                    <label class="active red-text">{{ form.issue_date.errors.0 }}</label>
                    {% render_field form.issue_date class="datepicker invalid" %}
                    {% else%}
                    <label class="{% if form.issue_date.value %}active{% endif %}">{{ form.issue_date.label }}</label>
                    {% render_field form.issue_date class="datepicker" %}
                    {% endif %}
                </div>
                <div class="input-field col s12">
                    {% if form.expiry_date.errors %}
                    <label class="active red-text">{{ form.expiry_date.errors.0 }}</label>
                    {% render_field form.expiry_date class="datepicker invalid" %}
                    {% else%}
                    <label class="{% if form.expiry_date.value %}active{% endif %}">{{ form.expiry_date.label }}</label>
                    {% render_field form.expiry_date class="datepicker" %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="col s12">
                    <a id="clear-fields-{{ doc_number }}"
                       class="waves-effect waves-light btn red">Clear</a>
                    <a class="waves-effect waves-light btn blue darken-1 right"
                       id="submit-form-{{ doc_number }}"><i
                            class="material-icons left">save</i><strong>Save</strong></a>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $('select').formSelect();
    $('.datepicker').datepicker({
  format: "yyyy-mm-dd"
});
</script>



