{% extends 'base/page.html' %}
{% block page_body_content %}

<div class="row">
    <div class="col s12 m12">
        <div class="card-panel white">
            <h5 class="black-text">Polish borders crossing tracking</h5>
            <h6 class="black-text">Here You can fill in all Your crossings of Polish borders. This information will be
                usefull for future reference and Visa calculations.</h6>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m12">
        <div class="card-panel white">
            <div class="row">
                <div class="col s12">
                    <h5 class="black-text">Travel permit 1</h5>

                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12 m3">
                        <select>
                            <option value="" disabled selected>Choose type</option>
                            <option value="1">Travel passport (Biometric)</option>
                            <option value="2">Visa</option>
                            <option value="3">Other document</option>
                        </select>
                        <label>Permit type</label>
                    </div>
                    <div class="input-field col s12 m3">
                        <select>
                            <option value="" disabled selected>Choose level</option>
                            <option value="1">Tourism</option>
                            <option value="2">Study</option>
                            <option value="3">Work</option>
                            <option value="4">Business</option>
                        </select>
                        <label>Permit level</label>
                    </div>
                    <div class="input-field col s12 m3">
                        <input id="issuedate" type="text" class="datepicker">
                        <label for="issuedate">Issue date</label>
                    </div>
                    <div class="input-field col s12 m3">
                        <input id="expirydate" type="text" class="datepicker">
                        <label for="expirydate">Expiry date</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <table class="highlight responsive-table">
                        <thead>
                        <tr>
                            <th style="width: 15%">Date</th>
                            <th style="width: 15%">Direction</th>
                            <th style="width: 20%">Place</th>
                            <th style="width: 15%">Transport</th>
                            <th style="width: 35%">Details</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td style="width: 15%">10/02/2018</td>
                            <td style="width: 15%">Entering</td>
                            <td style="width: 20%">Rzesow</td>
                            <td style="width: 15%">Bus</td>
                            <td style="width: 35%">All clear
                                <i class="material-icons right col m2">delete</i>
                                <i class="material-icons right col m1">edit</i>
                        </tr>
                        <tr>
                            <td style="width: 15%">10/02/2018</td>
                            <td style="width: 15%">Entering</td>
                            <td style="width: 20%">Rzesow</td>
                            <td style="width: 15%">Bus</td>
                            <td style="width: 35%">All clear
                                <i class="material-icons right col m2">delete</i>
                                <i class="material-icons right col m1">edit</i></td>
                        </tr>
                        <tr>
                            <td style="width: 15%">10/02/2018</td>
                            <td style="width: 15%">Entering</td>
                            <td style="width: 20%">Rzesow</td>
                            <td style="width: 15%">Bus</td>
                            <td style="width: 35%">All clear
                                <i class="material-icons right col m2">delete</i>
                                <i class="material-icons right col m1">edit</i></td>
                        </tr>
                        <tr>
                            <td style="width: 15%">10/02/2018</td>
                            <td style="width: 15%">Entering</td>
                            <td style="width: 20%">Rzesow</td>
                            <td style="width: 15%">Bus</td>
                            <td style="width: 35%">All clear
                                <i class="material-icons right col m2">delete</i>
                                <i class="material-icons right col m1">edit</i></td>
                        </tr>
                        <tr>
                            <td style="width: 15%">10/02/2018</td>
                            <td style="width: 15%">Entering</td>
                            <td style="width: 20%">Rzesow</td>
                            <td style="width: 15%">Bus</td>
                            <td style="width: 35%">All clear
                                <i class="material-icons right col m2">delete</i>
                                <i class="material-icons right col m1">edit</i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="col s12">
                        <a class="waves-effect waves-light btn blue darken-1 right"><i
                                class="material-icons left">add</i><strong>Add new record</strong></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}